@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__subtitle/header__subtitle.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__logo-place/header__logo-place.css);
@import url(./blocks/header/__main-ilustration/header__main-ilustration.css);
@import url(./blocks/header/__square/header__square.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/description/description.css);
@import url(./blocks/two-columns/two-columns.css);
@import url(./blocks/two-columns/__brief/two-columns__brief.css);
@import url(./blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(./blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(./blocks/two-columns/__span-accent/two-columns__span-accent.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/section-title/section-title.css);
@import url(./blocks/section-subtitle/section-subtitle.css);
@import url(./blocks/section-title/__cards/section-title__cards.css);
@import url(./blocks/section-subtitle/__cards/section-subtitle__cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__item/card__item.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__description/card__description.css);
@import url(./blocks/video/video.css);
@import url(./blocks/section-title/__video/section-title__video.css);
@import url(./blocks/section-subtitle/__video/section-subtitle__video.css);
@import url(./blocks/videos/videos.css);
@import url(./blocks/oakley/oakley.css);
@import url(./blocks/feynman/feynman.css);
@import url(./blocks/feynman/__title/feynman__title.css);
@import url(./blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(./blocks/feynman/__image/feynman__image.css);
@import url(./blocks/feynman/__link/feynman__link.css);
@import url(./blocks/digits/digits.css);
@import url(./blocks/section-title/__digits/section-title__digits.css);
@import url(./blocks/section-subtitle/__digits/section-subtitle__digits.css);
@import url(./blocks/digits/__table/digits__table.css);
@import url(./blocks/digits/__table-cell/digits__table-cell.css);
@import url(./blocks/digits/__table-heading/digits__table-heading.css);
@import url(./blocks/digits/__table-text/digits__table-text.css);
@import url(./blocks/khan/__container/khan__container.css);
@import url(./blocks/khan/__author/khan__author.css);
@import url(./blocks/khan/__title/khan__title.css);
@import url(./blocks/khan/__quote/khan__quote.css);
@import url(./blocks/khan/__quote-author/khan__quote-author.css);
@import url(./blocks/khan/__quote-author-subline/khan__quote-author-subline.css);
@import url(./blocks/khan/__book-container/khan__book-container.css);
@import url(./blocks/khan/__book-pic-container/khan__book-pic-container.css);
@import url(./blocks/khan/__book-pic/khan__book-pic.css);
@import url(./blocks/khan/__buy-link/khan__buy-link.css);
@import url(./blocks/kaufman/kaufman.css);
@import url(./blocks/kaufman/__triangle/kaufman__triangle.css);
@import url(./blocks/section-title/__theme-dark/section-title__theme-dark.css);
@import url(./blocks/section-subtitle/__theme-dark/section-subtitle__theme-dark.css);
@import url(./blocks/kaufman/table/table.css);
@import url(./blocks/kaufman/table/__theme-dark/table__theme-dark.css);
@import url(./blocks/kaufman/table/__cell/table__cell.css);
@import url(./blocks/kaufman/table/__cell/_theme_dark/table__cell_theme_dark.css);
@import url(./blocks/kaufman/table/__heading/table__heading.css);
@import url(./blocks/kaufman/table/__heading/_theme_dark/table__heading_theme_dark.css);
@import url(./blocks/kaufman/table/__text/table__text.css);
@import url(./blocks/kaufman/table/__text/_theme_dark/table__text_theme_dark.css);
@import url(./blocks/resources/resources.css);
@import url(./blocks/section-title/__resources/section-title__resources.css);
@import url(./blocks/section-subtitle/__resources/section-subtitle__resources.css);
@import url(./blocks/resources/__logo-zone/resources__logo-zone.css);
@import url(./blocks/resources/__logo-zone__item/resources__logo-zone__item.css);
@import url(./blocks/resources/__logo-zone__image/resources__logo-zone__image.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__columns/footer__columns.css);
@import url(./blocks/footer/__column-content-copyright/footer__column-content-copyrigth.css);
@import url(./blocks/footer/logo__place-footer/logo_place_footer.css);
@import url(./blocks/footer/__author/footer__author.css);
@import url(./blocks/footer/__colum-heading/footer__colum-heading.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/footer/__text-footer__list/footer__text-footer__list.css);
@import url(./blocks/footer/__column/footer__column.css);
