.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #F2F2F2;
  margin-bottom: 100px;
  /* parameters for the header section */
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  justify-content: center;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.logo {
  width: 154px;
  height: 31px;
  z-index: 5;
}

.logo_place_header {
  height: 31px;
  width: 154px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  overflow: hidden;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  left: 64px;
  bottom: 30px;
  color: blue;
  text-decoration: none;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 60px;
  vertical-align: top;
}

.two-columns__brief {
  width: 175px;
  margin-left: 100px;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  display: flex;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px;
 
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 60px;

}

.table__cell {
  width: 250px;
  flex-direction: column;
  row-gap: 20px;
  display: flex;

}

.table__heading {
  line-height: 1.5;
  font-size: 24px;
  margin: 0;

}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  height: 790px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding-top: 100px;
}

.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
  width: 775px;
  z-index: 2;
  text-align: center;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  z-index: 2;
  
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  background-color: black;
  padding: 90px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;

}

.section-title_theme_dark {
  color:white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width:60%;
  margin: 0 auto 20px;
  text-align: center;
  z-index: 2;
  
}

.section-subtitle_theme_dark{
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width:60%;
  margin: auto;
}

.table_theme_dark {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: white;
  z-index: 2;
}

.table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  color:white;
  z-index: 2;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  z-index: 1;
  top: 0;
}

.footer{
  background-color: black;
  height: 350px;
  color:white;
  padding-top: 60px;
  padding-bottom: 40px;
  display:flex;
  position: relative;
  
}
.footer__columns{
  display: flex;
  align-content: space-around;
  width:90%;
  margin:auto;
}

.footer__column-content-copyright{
  flex-basis:711px;
  
}
.logo_place_footer{
  width:183px;
  height:35px;
}
.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom:0;
}
.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  
}
.footer__text{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  list-style-type: none;
}
.footer__text-footer__list{
  width: 16px;
  height: 16px;

}
.footer__column{
  list-style: none;
}