@keyframes rotacion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #F2F2F2;
  margin-bottom: 100px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  justify-content: center;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__logo {
  width: 154px;
  height: 31px;
  z-index: 5;
}

.header__logo-place {
  height: 31px;
  width: 154px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__square {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  overflow: hidden;
  transform: rotate(-15deg);
  display: flex;
  animation: rotacion 20s linear infinite;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  left: 64px;
  bottom: 30px;
  color: #2F80ED;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.header__link:hover {
  opacity: 0.5;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 60px;
  vertical-align: top;
}

.two-columns__brief {
  margin-left: 100px;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  display: flex;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-title__cards {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 100px;
}

.section-subtitle__cards {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 100px;
  margin: 0 auto;
  width: 920px;
}

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  
}

.card__image {
  border-radius: 50%;
  margin: 60px 40px 43px 40px;
  width: 100%;
}

.card__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 16px;
}

.card__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.video{
  padding-top: 100px;
}

.section-title__video {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.section-subtitle__video {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 20px;
  margin: 50px auto 0;
  justify-content: center;
  width: 100%;
  position: relative;
  bottom: -60px;
}

.oakley {
  padding-top: 160px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

.feynman {
  height: 790px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding-top: 100px;
}

.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
  width: 775px;
  z-index: 2;
  text-align: center;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  z-index: 2;
  
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2F80ED;
  transition: opacity 0.5s ease;
}

.feynman__link:hover {
  opacity: 0.5;
}

.digits {
  margin-bottom: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-title__digits {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px;
 
}

.section-subtitle__digits {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.digits__table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 60px;

}

.digits__table-cell {
  width: 250px;
  flex-direction: column;
  row-gap: 20px;
  display: flex;

}

.digits__table-heading {
  line-height: 1.5;
  font-size: 24px;
  margin: 0;

}

.digits__table-text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
}

.khan__container {
  width: 80%;
  margin: 105px auto 0;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  margin-bottom: 50px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}


.khan__quote {
  width: 790px;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0 0 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  gap: 48px;
}

.khan__book-pic-container {
  width: 620px;
  height: 608px;
}

.khan__book-pic {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  position: relative;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  transition: opacity 0.5s ease;
  color: #2F80ED;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.5;
}

.kaufman {
  background-color: black;
  padding: 90px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;

}
.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  z-index: 1;
  bottom: 0;
  animation: rotacion 20s linear infinite;
}

.section-title_theme_dark {
  display: flex;
  color:white;
  width:80%;
  margin: 0 auto 20px;
  text-align: center;
  z-index: 2;
}

.section-subtitle_theme_dark{
  color: white;
  width:60%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.table_theme_dark {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: white;
  z-index: 2;
}

.table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  color:white;
  z-index: 2;
}

.resources {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title__resources {
  width: 60%;
  margin: 100px 0 20px;
  display: flex;
  justify-content: center;
}

.section-subtitle__resources {
  width: 60%;
  margin: 0 0 80px;
  display: flex;
  justify-content: center;
}

.resources__logo-zone {
  width: 1100px;
  margin: 0 auto 217px;
  display: flex;
  flex-wrap: wrap;
}

.resources__logo-zone_item {
  width: 270px;
  height: 38px;
}

.resources__logo-zone_image {
  width: 100%;
}

.footer{
  background-color: black;
  height: 350px;
  color:white;
  padding-top: 60px;
  padding-bottom: 40px;
  display:flex;
  position: relative;
  
}
.footer__columns{
  display: flex;
  align-content: space-around;
  width:90%;
  margin:auto;
  justify-content: space-between;

}

.footer__column-content-copyright{
  /*flex-basis:711px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}
.logo_place_footer{
  width:183px;
  height:35px;
  align-self: start;
}
.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 0;
}
.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  padding: 0;

}
.footer__text{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  list-style-type: none;
}
.footer__text-footer__list{
  width: 16px;
  height: 16px;

}
.footer__column{
  list-style: none;
}